<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/jquery-3.0.0.js"></script>
    <script src="../static/js/login.js"></script>
    <title>login</title>
</head>
<body>
    <section class="bg">
        <div class="container">
            <div class="pure-form pure-form-stacked content">
                <legend>
                    <a class="login" href="#">登录</a>
                    <a class="register" href="#">注册</a>
                </legend>
                <div class="login-form">
                    <label for="username">Username</label>
                    <input id="username"  placeholder="用户名">
                    <label for="password">Password</label>
                    <input id="password"  type="password" placeholder="密码">
                    <button type="submit" class="pure-button pure-button-primary submit-log">Sign In</button>
                    <span class="message-l"></span>
                </div>
                <div class="register-forms">
                    <label for="new-name">Username</label>
                    <input id="new-name"   placeholder="用户名">
                    <label for="new-password">Password</label>
                    <input id="new-password" type="password" placeholder="密码">
                    <button type="submit" class="pure-button pure-button-primary submit-reg">Sign Up</button>
                    <span class="message-r"></span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>