<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>仓库</title>
    <link rel="stylesheet" type="text/css" href="../static/wangEditor-2.1.20/disk/css/wangEditor.min.css">
    <link rel="stylesheet" href="../static/css/store.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico"/>
    <link rel="bookmark" href="../static/img/favicon.ico"/>
    <script src="../static/js/jquery-3.0.0.js"></script>
    <script src="../static/wangEditor-2.1.20/disk/js/wangEditor.min.js"></script>
    <script src="../static/js/store.js"></script>
</head>
<body>
    <nav class="head-nav">
        <div class="mark">
            <img src="../static/img/logo.jpg" alt="logo">
            <h2>熊猫的竹园</h2>
        </div>

        <ul>
            <li id="index"><a href="{{url_for('sb.index')}}">首页</a></li>
            <li id="loft"><a href="{{url_for('sb.loft_index_view')}}">微博</a></li>
            <li id="store"><a href="{{url_for('sb.store_index')}}">仓库</a></li>
        </ul>
    </nav>
    <section class="container">
        <div id="new-text"></div>
        <button class="article-submit">发送文章</button>
        <div class="article-list">
            <div class="article">
                <div class="article-header">
                    <h2 class="article-title">FIRST</h2>
                    <div class="article-author">developer</div>
                    <div class="article-time"></div>
                </div>
                <div class="article-content"></div>
            </div>
        </div>
    </section>
</body>
</html>