
body{
    background-color: #ccc9c3;
    font-family: "Microsoft JhengHei Light";
}
.head-nav{
    width: 90%;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-radius: 5px;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 5%;
}
.head-nav .mark{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    font-size: 30px;
    display: flex;
    height: 80%;
}
.mark img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.mark h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.head-nav ul{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: 0;

}
.head-nav ul li{
    list-style: none;
    padding: 0 10px;
    margin: 0;
}
.head-nav ul li a{
    text-decoration: none;
    color: #555;
    font-size: 25px;
}
.head-nav ul li a:hover{
    background-color: #36b5a9;
    color: #fff;
    border-radius: 3px;
}
.container{
    width:90%;
    margin: 80px auto auto auto;
    /*background-color: #ccc9c3;*/
    display: flex;
    justify-content: space-between;

}
.content{
    width: 57%;
    /*background-color: #ccc9c3;*/
}
.side-bar{
    /*background-color: #ccc9c3;*/
    width: 40%;
    position: absolute;

}
.side-bar button{
    width: 100%;
    height: 50px;
}
.enter{
    position: fixed;
    top: 40%;
    right:5%;
    width:35%;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 6px 6px 3px #888;
    border-radius: 5px;
}

.enter textarea{
    width: 100%;
    border: none;
    outline: none;
}
.package{
    box-shadow: 6px 6px 3px #888;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}
.item{
    margin-top: 5px;
    padding: 0;
    height: 150px;
    border-bottom: 1px solid #888;


    /*overflow: hidden;*/
}
.item .submit-comment,
.submit-com{
    width:115px;
    text-align: center;
    height: 25px;
}
.item .submit-comment:hover,
.submit-com:hover{
    cursor: pointer;
}
.my-btn{
    width:110px;
    /*text-align: center;*/
    height: 25px;
    line-height: 25px;
   font-size: 10px;
}
.my-btn:hover{
    cursor: pointer;
}
.item div,
.item h4{
    padding: 5px;
}
.item h4{
    border-bottom: 1px solid #ccc9c3;
    height: 15%;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 98%;
    font-size: 20px;
}
.item .para{
    border-bottom: 1px solid #ccc9c3;
    height: 50%;
}
.item .bar{
    height: 25%;
    display: flex;
    justify-content: space-around;
}
.edit-area{
    padding-bottom: 0;
    text-align: center;
    height: 50px;
    line-height: 50px;
    display: none;
    /*background-color: #fe44cd;*/
}
.edit-area input{
    width:80%;
    height: 60%;
    border-right: none;
    margin-bottom: 0;
}
.edit-area button{
    border: none;
    margin-bottom: 0;
}
.comment-list{
    border: 1px solid #888;
    display: none;
}
.comment-list li{
    list-style: none;
    border-bottom: 1px solid #36b5a9;
    display: flex;
    justify-content: space-around;
}
.loft-id{
    display:none;
}
.enter-message{
    display: none;
}
.enter-com{
    width: 50%;
}