body{
    background: url("http://i1.piimg.com/4851/191d5afbf45e9917.jpg")no-repeat;
    background-size:100%;
}
.container{
    width: 20%;
    background-color: rgba(85, 85, 85, 0.1);;
    padding: 15px;
    border-radius: 5%;
    margin-top: 7%;
    margin-left: 8%;
    z-index: 11000;
    display: none;
}
.headline{
    border-bottom: 1px solid #fff;
    font-family: "Microsoft JhengHei";
}
.headline a{
    margin-left: 10px;
}
.login-form,
.reg-form{
    display:flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
}
.reg-form{
    display: none;
}
input{
    border-radius: 5px;
    outline: none;
    border: none;
    height: 20px;
}
button{
    font-family: "Microsoft JhengHei";
    border-radius: 10px;
    width: 90%;
    height: 40px;
    background-color: rgba(251, 216, 255, 0.27);
    margin: 10px 5px 5px 5px;
    /*border: 1px solid #28d1ff;*/
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 3px;
}
a:hover,
a:active{
    background: #fff;
}
.s{
    background-color: #fff;
    color: #555;
}
.h1{
    margin-left: 5%;
    margin-top: 10%;
    font-size: 55px;
    font-family: Cambria;
}