.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
body{
    display: flex;
    flex-direction: column;
}
.head-nav{
    width: 90%;
    margin: 0 auto;
    background-color: #f9efff;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-radius: 5px;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    left: 5%;

}
.head-nav .mark{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 5px;
    font-size: 30px;
    display: flex;
    height: 80%;

}
.mark img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.mark h2{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.head-nav ul{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: 0;

}
.head-nav ul li{
    list-style: none;
    padding: 0 10px;
    margin: 0;
}
.head-nav ul li a{
    text-decoration: none;
    color: #555;
    font-size: 25px;
}
.head-nav ul li a:hover{
    background-color: #36b5a9;
    color: #fff;
    border-radius: 3px;
}
.wangEditor-container{
    /*height: 300px;*/

    margin: 0 auto;
}
section{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 70px auto auto auto;
}